* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}
/* nav */
nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 10px;
}
nav h3{
  padding-left: 20px;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

/* intro */
.intro {
  height: 120vh;
  background-image: url("../img/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.content {
  position: absolute;
  top: 40%;
  left: 40%;
}
.social li{
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}
.social li a{
  text-decoration: none;
  color: #fff;
  width: 30px;
}
/* about me */
.left-col, .sidebar {
  width: 40%;
}
.left-col p {
  height: auto;
}
.sidebar {
  text-align: center;
}
.sidebar img {
  width: 50%;
  padding: 20px 0;
  height: auto;
}
.about, .services{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 20px 0;
}

/* Portfolio */
h2 {
  text-align: center;
  margin-bottom: 15px;
}
.about .left-col p, .services .left-col p{
  line-height: 25px;
  text-indent: 2em;
}
p:last-child {
  text-indent: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* footer */
.contacts {
  text-align: center;
  height: 25vh;
  background-image: url("../img/46.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #fff;
}
.contacts h2 {
  padding-top: 10px;
}
footer {
  text-align: center;
  height: 10vh;
  background: #000;
  color: #fff;
}
.socials li{
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}
.socials li a{
  text-decoration: none;
  color: white;
  width: 30px;
  font-size: 1.5rem;
}
p {
  font-size: 18px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 590px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .left-col {
    width: 80%;
    height: 40vh;
  }
  h2 {
    margin-bottom: 20px;
  }
  .intro {
    height: 100vh;
  }
  .about {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: flex-start;
    align-content: space-around;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
  }
  .about img{
    border-radius: 50%;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .about p {
    height: auto;
  }
  .services .left-col p{
    margin-left: 10px;
  }
  .services {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 50px;
  }
  nav{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
  .content {
    position: absolute;
    top: 35%;
    left: 35%;
  }
  nav h3{
    margin-bottom: 10px;
  }
  .wrapper {
  height: auto;
  overflow: auto;
  transition: height 0.66s ease-out;
  }
  .ad-wrapper{
    height: 100px;
  }
}
